* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: gray;
    padding: 16px 0;
    color: aliceblue;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 5px;
}

header li a {
    color: antiquewhite;
    text-decoration: none;
}

.container {
    max-width: 1366px; /* Alterado para max-width para garantir que o conteúdo seja responsivo */
    margin: 0 auto; /* Removido margem inferior */
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%; /* Alterado para ocupar toda a largura do contêiner pai */
    height: auto; /* Adicionado para manter a proporção */
}

.articles article {
    width: 30%; /* Reduzido para caber em telas menores */
    margin-bottom: 20px; /* Aumentado o espaçamento entre os artigos */
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px; /* Alterado o tamanho da fonte para todos os títulos de artigos */
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

#animes {
    background-color: darkgray;
}

#animes .articles article a {
    background-color: darkred;
}

#mangas {
    background-color: gray;
}

#mangas .articles article a {
    background-color: red;
}
